<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.food-mapper">
  <select id="foodListData" resultType="FoodVO" parameterType="int">
  <!-- 
  	id = 중복이 되면 안된다 (Map : key)
  	map.put("foodListData", "SELECT~")
  	
  	resultType: 결과값을 받아서 저장
  	rs.next()
  	vo.setName(...)
  	==
  	
  	parameterType="int" => setInt()
  	parameterType="String" => setString()
  	SELECT ~
  	WHERE 컬럼=?	
  	**parameterType은 한번만 사용이 가능
  	  parameterType="FoodVO"
  	  parameterType="hashmap"
  	  => start end
  	? => #{} (int start)
   -->
    SELECT fno, poster, name, address, type
    FROM menupan_food
    ORDER BY fno ASC
    OFFSET #{start} ROWS FETCH NEXT 12 ROWS ONLY
  </select>
  <select id="foodTotalPage" resultType="int">
  <!-- 
  	resultType : 리턴형 (List<FoodVO> FoodVO)
  	                   ===================
  	                     | FoodVO
  	                   메소드 : selectList
  	                   		  selectOne
  	parameterType
   -->
    SELECT CEIL(COUNT(*)/12.0) FROM menupan_food	
  </select>
  <update id="hitIncrement" parameterType="int">
    UPDATE menupan_food SET
    hit=hit+1
    WHERE fno=#{fno}
  </update>
  <select id="foodDetailData" resultType="FoodVO" parameterType="int">
    SELECT * FROM menupan_food
    WHERE fno=#{fno}
  </select>
</mapper>