<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- VO 등록 -->
  <typeAliases>
    <typeAlias type="com.sist.vo.EmpVO" alias="EmpVO"/>
  </typeAliases>
  <!-- 환경 설정 -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/><!-- Commit / Rollback -->
      <dataSource type="POOLED"><!-- Connection Pool -->
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
        <property name="username" value="hr"/>
        <property name="password" value="happy"/>
      </dataSource>
    </environment>
  </environments>
  <!-- Mapper 등록 -->
  <mappers>
    <mapper resource="com/sist/dao/emp-mapper.xml"/>
  </mappers>
</configuration>
