<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 
	<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-config.dtd">
	dtd = XML의 태그와 속성을 정의하고 있는 파일
	
	VO등록
	<select id="foodListData" resultType="com.sist.vo.FoodVO">
	<typeAliases>
    <typeAlias type="com.sist.vo.FoodVO" alias="FoodVO"/>
  	</typeAliases>
  	
  	환경 설정
  	<environments default="development">
  	                      ==============
  	                      test / production ..
      <environment id="development">
        <transactionManager type="JDBC"/>
         트랜잭션 관리 (COMMIT, ROLLBACK, SAVEPOINT)
         JDBC  => AutoCommit
         MANAGED => 트랜잭션 관리 (스프링) => 위임
        <dataSource type="POOLED">
         POOLED : Connection POOL
          		  => 미리 오라클 연결해 두고 객체의 주소만 얻어서 사용
          		  => 권장, 효율적
          		     Connection 관리가 수월하다
         UNPOOLED : 매번 오라클 연결, Connection관리가 어렵다
        		  => 비효율적
         JNDI : tomcat에 저장
          <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
          <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
          <property name="username" value="hr"/>
          <property name="password" value="happy"/>
        </dataSource>
      </environment>
  	</environments>
  	
  	xml을 include
  	<mappers>
    <mapper resource="com/sist/dao/food-mapper.xml"/>
  	</mappers>
  	
  		ConnectionPool은 웹에서만 사용
  		JSP/Servlet
  		   |
  		 MyBatis(Config.xml)
  		   |
  		 Mapper(mapper.xml을 로드)
  		   |
  		 Connection Pool
  		   |
  		 SQL실행 = 결과값을 VO로 매핑
  		   |      ============= resultType
  		 JSP로 전송
  		 === 화면 출력용
  		 
  		 단점
  		   SELECT name, address, phone
  		   		  ====================
  		   		  vo.setName(rs.getString("name"))
  		   		  vo.setAddress(rs.getString("address"))
 -->
<configuration>
  <!-- VO 등록 -->
  <typeAliases>
    <typeAlias type="com.sist.vo.BoardVO" alias="BoardVO"/>
  </typeAliases>
  <!-- 환경 설정 -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/><!-- Commit / Rollback -->
      <dataSource type="POOLED"><!-- Connection Pool -->
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
        <property name="username" value="hr"/>
        <property name="password" value="happy"/>
      </dataSource>
    </environment>
  </environments>
  <!-- Mapper 등록 -->
  <mappers>
    <mapper resource="com/sist/dao/board-mapper.xml"/>
  </mappers>
</configuration>
