<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.replyboard-mapper">
  <select id="boardListData" resultType="ReplyBoardVO" parameterType="int">
    <!-- 
    	   group_tab : 간격조절
    	     AAAAA 0
    	       => BBBBB 1
    	         => CCCCC 2
    	   group_id : 답변을 모아둔것
    	     AAAAA 1
    	       => BBBBB 1
    	        => CCCCC 1
    	       => DDDDD 1
    	     EEEEE 2
    	       => KKKKK 2
    	   group_step
    	     AAAAA 0
    	       => BBBBB 1
    	        => CCCCC 2
    	       => DDDDD 3
    	       
    	   AAAAAA          1  0
    	     => BBBBBB     1  1 -> 2
    	       => CCCCCC   1  2 -> 3
    	     => DDDDDD     1  1
     -->
    SELECT no, subject, name, TO_CHAR(regdate, 'YYYY-MM-DD') as dbday, hit, group_tab
    FROM replyboard
    ORDER BY group_id DESC, group_step ASC
    OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
  </select>
  <select id="boardTotalPage" resultType="int">
    SELECT COUNT(*)
    FROM replyboard
  </select>
</mapper>